.showBoxWrap{
    margin-bottom: 30px;
}
.showBox{
    width: 100%;
}

#iFrame{
    display: block;
    width: 100% !important;
    background-color: white;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    padding: 0 !important;
    max-height: 300px !important;
}

.playBox {
    width: 100% !important;
    background-color: white;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    padding: 0 !important;
    min-height: 250px;
    margin-bottom: 30px;
}